{% extends 'gabaritPublic.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">


            <div class="about-img">
                <img alt="User Pic"
                     src="Contenu/images/uploads/PHOTO"
                     id="profile-image1" class="img-thumbnail img-responsive">

            </div>
            <div class="about-text">
                <p><span>TITRE AUTEUR</span><br>
                    TEXTE

                <p><span>Citation</span><br>
                    CITATION
            </div>
        </div>
        </br>
        </br>
    </div>
{% endblock %}