{% extends 'gabaritPublic.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="row">
        <div class="login-box">
            <h2>Laissez-moi un message</h2>
            <hr>
            <form id="login-form" method="post" action="">

                <label>Nom</label>
                <div>
                    <input name="nom" type="text" class="largeur-totale bords-arrondis">
                </div>

                <label>Adress e.mail</label>
                <div>
                    <input name="email" type="text" class="largeur-totale bords-arrondis">
                </div>

                <label>Message</label>
                <div>
                    <textarea class="largeur-totale bords-arrondis" rows="8"></textarea>
                </div>

                <div class="g-recaptcha" data-sitekey="<?php echo $siteKey; ?>"></div>
                <div class="col-sm-6 col-lg-offset-4 form-group">
                    <input type="submit" class="bords-arrondis" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
